[submodule "problem/parametric_pde_sampling"]
	path = problem/parametric_pde_sampling
	url = git@bitbucket.org:trunschk/vmc_sampling.git
[submodule "keynote_plots/plotting"]
	path = keynote_plots/plotting
	url = git@github.com:ptrunschke/plotting.git
